body{
    margin: 0;
    padding: 4em 0 0;
    color: #666666;
    font-family: sans-serif;
    font-size: 0.8em;
}

@media (min-width: 1000px){
    body{
        font-size: 1rem;
    }
}   
@media (min-width: 1800px){
    body{
        font-size: 1.5rem;
    }
}


.container{
    padding: 5em 10%;
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
} 

.container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5em;
    align-items: flex-start;
    width: 100%;
}

@media (max-width : 1000px){
    .container-info{
        flex-direction: column;
        align-items: center;
    }

    #service-info{
        flex-direction: row;
    }

    #contact .container-info{
        flex-direction: row;
    }
}

h2{
    text-align: center;
}








/* -----------SCROLL------------------ */
#scrollTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10%;
    z-index: 99;

    background-color: #666666e5;
    color: white;
    font-size: 2em;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    height: 2.5em;
    width: 2.5em;
}  










/*--------------MENU------------------*/

.menu{
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    padding: 0.5em 3em;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;   
    font-weight: bold;
    font-size: 1em;
    border-bottom: 3px solid #a8a8a8;
    z-index: 999;
}

.menu-logo{
    height: 100%;
}

.menu-logo img{
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.menu-ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu-ul li{
    display: flex;
    align-items: center;
}

.menu-ul li a{
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #666666;
}

.menu-ul li a:hover{
    color: #5cbbbe;
}

.menu-contact{
    padding: 0 1em;
    display: flex;
    align-items: center;
}

.menu-contact a{
    color: #666666;
    text-decoration: none;
}

.menu-contact a:hover{
    color: #5cbbbe;
}

.menu i{
    font-size: 2em;
}

.menu-contact-text{
    display: inline-block;
    text-decoration: none;
    padding-left: 1em;
}

.menu-button{
    display: none;
    padding-left: 1em;
}

@media (max-width: 1000px){
    .menu{
        font-size: 0.8em;
    }
}

@media (max-width: 700px){
    .menu-ul,
    .menu-contact-text{
        display: none;
    }

    .menu-button{
        display: inline-block;
    }

    .menu-ul-phone{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    padding-right: 3em;
    height: 50px;
    background-color: white;
    border-bottom: 3px solid #a8a8a8;
    text-align: right;
    }
}
















/*----------SLIDER---------------------*/

.slider{
    position: relative;    
    height: 90vh;
    min-height: 600px;
    font-size: 1em;
}

.slider-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #a8a8a8;
    position: relative;
}

.slider-img img{
    min-height: 100%;
    min-width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    
    text-align: center;
    font-size: 5em;

    color: #666666;
    font-weight: bold;
    z-index: 100;
}

.slider-logo span{
    color: #5cbbbe;
}

.slider-text-container{
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 10%;

    text-align: center;
    background-color: #666666e5;
}

@media (max-width: 600px){
    .slider-text-container{
        left: 0;
        right: 0;
    }
}

.slider-text{
    margin: 1.5em 3em;
    color: white;
}

.slider-prev,
.slider-next{
    position: absolute;
    width: 10%;
    height: 100%;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-prev:hover,
.slider-next:hover{
    background-color: #a8a8a84b;
}

.slider-prev i,
.slider-next i{
    font-size: 2em;
}

.slider-prev{
    left:0;
}

.slider-next{
    right:0;
}

















/*---------ABOUT---------------*/


.about-photo{
    width: 50%;
    text-align: end;
    margin-right: 2em;
    align-self: center;
}

.about-photo img{
    width: 80%;
}

.about-list{
    width: 50%;
    margin: 0;
    margin-left: 4em;
    align-self: center;
    padding: 0;
    list-style-image: url('image/icons/list.png');
}

.about-list li{
    margin: 1em 0;
    font-size: 1.2em;
}

@media (max-width : 1000px){
    .about-list,
    .about-photo{
        width: 100%;
    }

    .about-photo{
        margin: 0;
        margin-bottom: 3em;
        text-align: center;
    }
}

















/*--------SERVICE--------------*/

#service{
    background: url("image/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#service-info{
    align-items: stretch;
    flex-wrap: wrap;
}

.service-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 20%;

    margin: 0 1em;
    background-color: hsla(0, 0%, 40%, 0.7);
}

.service-container h3{
    text-transform: uppercase;
    text-align: center;
    color: white
}

.service-img{
    height: 10em;
    text-align: center;
    background-color: hsla(182, 43%, 55%, 0.7);
    padding: 1em;
}

.service-img img{
    height: 100%;
}

.service-container ul{
    color: white;
    list-style-image: url("image/icons/list-service.png");

    margin: 0;
    padding: 1em 0.5em 1em 40px;
}

.service-container li{
    margin: 0.5em 1em 0.5em 0;
}

@media (max-width : 1400px){
    .service-container{
        width: 40%;
        margin-bottom: 3em;
    }
}

@media (max-width : 600px){
    .service-container{
        margin-bottom: 3em;
        width: 100%;
    }
}













/*----------COMENT-------------*/

.comment-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 30%;
}

.comment-avatar{
    border-radius: 50%;
    width: 10em;
    height: 10em;
    background-color: #5cbbbe;
}

@media (max-width : 1000px){
    .comment-container{
        margin-bottom: 6em;
        width: 100%;
    }
}













/*-----------CONTACT-----------------*/
#contact{
    background: url("image/IMG_20190714_132539.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#contact .container-info{
    font-size: 1.2em;
    justify-content: space-around;
}

.contact-phone a{
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.contact-phone,
.contact-address{
    white-space: nowrap;
    text-align: center;
}

.contact-phone i,
.contact-address i{
    padding-bottom: 1em;
}

.contact-map,
.contact-map iframe{
    width: 100%;
}

@media (max-width : 600px){
    #contact .container-info{
        flex-direction: column;
    }

    .contact-phone{
        margin-bottom: 3em;
        width: 100%;
    }
    .contact-address{
        width: 100%;
    }
}








/*--------FOOTER---------------*/
footer{
    background-color: #a8a8a8;
    border-top: 3px solid #666666;

    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px){
    footer{
        flex-direction: column;
        text-align: center;
    }

    footer span{
        margin: 1em 0;
    }
}

footer ul{
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}